
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
  --text-color: black;
  --background-color: aliceblue;
  --primary-accent-color: #478ea9;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
}
body {
  background: rgba(213, 210, 210, 0.97);
}

.page {
  display: flex;
  align-items: center;
  width: 800px;
  justify-content: center;
  min-height: 100vh;
}

.card {
  width: 800px;
  border: var(--primary-accent-color) solid 4px;
  border-radius: 4px;
  padding: 16px;
  display: grid;

}

